### Task 1: Basic Operations with Arithmetic Operators

Accepting two integers from the users

In [11]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

Performing arithmetic operations

In [12]:
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
modulus = num1 % num2
exponentiation = num1 ** num2

Displaying results using f-strings

In [13]:
print(f"\nResults of Arithmetic Operations:")
print(f"{num1} + {num2} = {addition}")
print(f"{num1} - {num2} = {subtraction}")
print(f"{num1} * {num2} = {multiplication}")
print(f"{num1} / {num2} = {division}")
print(f"{num1} % {num2} = {modulus}")
print(f"{num1} ** {num2} = {exponentiation}")

Results of Arithmetic Operations:
6 + 7 = 13
6 - 7 = -1
6 * 7 = 42
6 / 7 = 0.8571428571428571
6 % 7 = 6
6 ** 7 = 279936

### Task 2 â€” Lists & NumPy Array Operations

Importing NumPy library

In [14]:
import numpy as np

Creating a list with at least 10 numbers

In [15]:
numbers = [12, 45, 23, 67, 89, 34, 90, 11, 56, 78]

Printing basic information about the list

In [16]:
print("Original List:", numbers)
print("Length of List:", len(numbers))
print("Maximum Value:", max(numbers))
print("Minimum Value:", min(numbers))

Original List: [12, 45, 23, 67, 89, 34, 90, 11, 56, 78]
Length of List: 10
Maximum Value: 90
Minimum Value: 11

Adding a new element and removing one element

In [17]:
numbers.append(100)
numbers.remove(23) 
print("\nList after add & remove operation:", numbers)

List after add & remove operation: [12, 45, 67, 89, 34, 90, 11, 56, 78, 100]

Sorting the list in ascending order

In [18]:
numbers.sort()
print("Sorted List (Ascending):", numbers)

Sorted List (Ascending): [11, 12, 34, 45, 56, 67, 78, 89, 90, 100]

Sorting the list in descending order

In [19]:
numbers.sort(reverse=True)
print("Sorted List (Descending):", numbers)

Sorted List (Descending): [100, 90, 89, 78, 67, 56, 45, 34, 12, 11]

Converting the list to a NumPy array

In [20]:
num_array = np.array(numbers)

Calculating Mean, Median, and Standard Deviation

In [21]:
mean_value = np.mean(num_array)
median_value = np.median(num_array)
std_dev = np.std(num_array)

print("\nNumPy Array:", num_array)
print(f"Mean: {mean_value}")
print(f"Median: {median_value}")
print(f"Standard Deviation: {std_dev}")

NumPy Array: [100  90  89  78  67  56  45  34  12  11]
Mean: 58.2
Median: 61.5
Standard Deviation: 30.50180322538325

### Task 3: Dictionaries and Sets

Creating a dictionary named student

In [24]:
student = {
    "name": "Sahil",
    "age": 23,
    "course": "Data Science",
    "marks": 82
}

Printing key-value pairs using a loop

In [25]:
print("Student Information:")
for key, value in student.items():
    print(f"{key}: {value}")

Student Information:
name: Sahil
age: 23
course: Data Science
marks: 82

Adding a new key to the dictionary

In [26]:
student["grade"] = "A"
print("\nAfter Adding Grade:", student)

After Adding Grade: {'name': 'Sahil', 'age': 23, 'course': 'Data Science', 'marks': 82, 'grade': 'A'}

Creating a set of unique courses

In [27]:
courses_set = {"Python", "Data Science", "AI", "Python"}  # 'Python' appears twice but set will keep unique values
print("\nUnique Courses Set:", courses_set)

Unique Courses Set: {'AI', 'Python', 'Data Science'}

Performing set operations

In [28]:
set1 = {"Python", "AI", "ML"}
set2 = {"Data Science", "AI", "Python"}

union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)

print("\nSet Operations:")
print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference (set1 - set2):", difference_set)

Set Operations:
Union: {'AI', 'Data Science', 'Python', 'ML'}
Intersection: {'AI', 'Python'}
Difference (set1 - set2): {'ML'}

### Task 4: File Handling

Create and write student data into file

In [29]:
with open("student_data.txt", "w") as file:
    file.write("Sahil, Data Science, 85\n")
    file.write("Priya, AI, 72\n")
    file.write("Rohan, Python, 90\n")
    file.write("Meera, Machine Learning, 78\n")
    file.write("Amit, Data Analytics, 65\n")

print("Data written successfully to student_data.txt")

Data written successfully to student_data.txt

Read the file and display only students with marks above 75

In [30]:
print("\nStudents with marks above 75:")
with open("student_data.txt", "r") as file:
    for line in file:
        name, course, marks = line.strip().split(", ")
        if int(marks) > 75:
            print(f"Name: {name} | Course: {course} | Marks: {marks}")

Students with marks above 75:
Name: Sahil | Course: Data Science | Marks: 85
Name: Rohan | Course: Python | Marks: 90
Name: Meera | Course: Machine Learning | Marks: 78